@import 'tailwindcss/tailwind.css';

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/Inter-roman-latin.var.woff2') format('woff2');
}

html {
  @apply antialiased;
  text-size-adjust: 100%;
}

html,
body,
#__next {
  @apply h-full;
}

#__next {
  /** This doesn't work for `height` in Firefox */
  min-height: -moz-available;
  /*
    * This does work for `height` in Chrome and Safari,
    * but Safari has some weird redraw issue
    * (open and close devtools and you will see).
  */
  min-height: -webkit-fill-available;
  @apply h-full;
}
